.tong {
    display: flex !important;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 350px;
    width: 550px;
    height: 250px;
    justify-content: center;
    border: 1px solid rgb(0, 149, 255);
    border-radius: 20px;
}

.infor {
    margin-top: 40px;
    margin-left: 10px;
}

.infor2 {
    margin-top: 30px;
    margin-left: 10px;
}

#maSanPham {
    margin-left: 30px;
}

#tenMay {
    margin-left: 30px;
    margin-top: 10px;
}

#tenHang {
    margin-top: 10px;
margin-left: 30px;
}

#giaBan {
    margin-top: 10px;
    
}

#soLuong {
    margin-top: 10px;
}

.input {
    border: 1px solid rgb(0, 149, 255);
    border-radius: 8px;
    height: 20px;
}

#addProduct {
    margin-top: 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    width: 70px;
    height: 30px;
}
#tieuDe {
    margin-left: 500px;
}

#viTri {
    padding-top: 3px;
    padding-bottom: 5px;
    border: 1px solid orangered;
    border-radius: 8px;
    margin-top: 5px;
}
/* Thay đổi màu nền của bảng */
table.table-striped tbody tr:nth-child(even) {
    background-color: rgb(255, 137, 218); /* Màu nền cho các dòng chẵn */
    color: white;
}


/* Thay đổi màu nền khi di chuột qua một dòng */
table.table-striped tbody tr:hover {
    background-color: orangered; /* Màu nền khi hover qua dòng */
}

/* Thay đổi màu của các tiêu đề */
th {
    background-color: #007bff; /* Màu nền của các tiêu đề */
    color: black; /* Màu chữ của tiêu đề */
}
