.dn{
      width: 300px;
    height: 300px;
    border: 2px solid rgb(37, 127, 145);
    border-radius: 20px;
    margin: auto;
}
#ten{
    width: 250px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 30px;
   
}
#mk{
    width: 250px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
}
#nut{
    width: 70px;
    height: 30px;
    margin-top:10px ;
    margin-left: 135px;
    border: 1px solid none;
    border-radius: 35px;
    background-color: rgb(0, 168, 168);
    color: white;
}
.text{
    margin-left:105px;
    color: rgb(24, 99, 70);
}

